
Razel/.vs/Razel/FileContentIndex/f3458829-b362-44cc-b8a0-f716a38b43eb.vsidx
Razel/.vs/Razel/v17/Browse.VC.db
Razel/.vs/Razel/v17/Browse.VC.db-shm
Razel/.vs/Razel/v17/Browse.VC.db-wal
Razel/.vs/Razel/v17/Browse.VC.opendb
